body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 20px; /* Размер основного шрифта в <p></p>  */
    background-color: #ffffff; /* Цвет фона веб-страницы */
    color: #0400ff; /* Цвет основного текста */ 
}
h1 {
    color: #0443a1; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
